.title
{
  color: rgb(238, 238, 238);
  font-weight: bold;
  margin-bottom: 1rem;
}

.input {
  background-color: rgb(54, 53, 53);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;

}

/**pseudoelemento*/
.input::placeholder{
  color: white;
}

.card-list{
  display: flex;
  margin: 2%;

}

.text-bg-gradient {
  background: -webkit-linear-gradient(
    90deg,
    rgb(244, 67, 54) 21.49%,
    rgb(223, 52, 206) 40.51%,
    rgb(103, 37, 242) 59.53%
  );
  background: linear-gradient(
    90deg,
    rgb(244, 67, 54) 21.49%,
    rgb(223, 52, 206) 40.51%,
    rgb(103, 37, 242) 59.53%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**

@media (max-width: 1365px) {
  .title {
    font-size: 40px;

  }
}

@media (max-width: 1064px) {
  .title {
    font-size: 30px;

  }
}

@media (max-width: 441px) {
  .title {
    font-size: 15px;

  }
}
*/
